a{
    text-decoration:none;
    color:black;
}

.bottom{
    width: 1300px;
    margin: auto;
    /* background-color:#FCE7F3; */
}
.margin{
    margin-top:-5px;
}


.catogery{
    display:grid;
    grid-template-columns: 20% 20% 8% 20% 20% 20%;
    
}
.vertical-line{
    width: 1px;
    height: 480px;
    background-color:black;
}
.horizontal-line{
    width: 1300px;
    height:1px;
    background-color:black;
}